<ion-view view-title="{{name}}'s Tuneline">
  <ion-content>

<audio id="audioPlayer">
  	<source src="" type="audio/mp3" id="audioSource">
</audio>

<div class="row" ng-repeat="soundbite in soundbites" >

  <div class="col" style="border-right: solid #4a87ee;">
  <div class="card">
    <div class="item item-positive item-text-wrap" 
          style="margin:-10px; font-size:85%;">
          {{soundbite.datetime | date:'EEE d'}}
    </div>
  </div>
  </div>

  <div class="col col-80">
    <a style="text-decoration: none;">
    <div class="card">
      <div class="item item-text-wrap item-icon-right">
        <h2>{{soundbite.name}}</h2>
        <div ng-if="soundbite.mp3url != '' && !!soundbite.mp3url">
	        <i class="icon ion-play" id="sb{{soundbite.id}}" data-url="{{soundbite.mp3url}}" ng-click="togglePlaying(soundbite.id)" ng-if="currentPlayingStatus == 'paused' || nowPlaying != soundbite.id"></i>
	        <i class="icon ion-pause" ng-click="togglePause()" ng-if="currentPlayingStatus == 'playing' && nowPlaying == soundbite.id"></i>
	    </div>

      </div>
    </div>
    </a>
  </div>
</div>
  </ion-content>
</ion-view>