<ion-view view-title="Tuneline">
  <ion-content class="padding">
 <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
 </ion-refresher>


<div class="row">

  <div class="col">
  <div class="card">
    <div class="item item-positive" 
          style="margin:-10px; font-size:85%;"> 
          Today
    </div>
  </div>
  </div>

  <div class="col col-80">
    <a href='#/tab/soundbite'
        style="text-decoration: none;">
    <div class="card">
      <div class="item item-text-wrap" >
        <h2 style="color: #ef473a;">New soundbite...</h2>
      </div>
    </div>
    </a>
  </div>

</div>

 <!-- style="color: #ef473a;" -->
<div class="row" ng-repeat="soundbite in soundbites" >

  <div class="col" style="border-right: solid #4a87ee;">
  <div class="card">
    <div class="item item-positive item-text-wrap" 
          style="margin:-10px; font-size:85%;">
          {{soundbite.datetime | date:'EEE d'}}
    </div>
  </div>
  </div>

  <div class="col col-80">
    <a href='#/tab/tuneline/{{soundbite.id}}'
        style="text-decoration: none;">
    <div class="card">
      <div class="item item-text-wrap" >
        <h2>{{soundbite.name}}</h2>
      </div>
    </div>
    </a>
  </div>
</div>
   


<!-- <ion-list>
  <ion-item ng-repeat="item in items track by $index" class="item-avatar">
    <img src="http://ionicframework.com/img/docs/spengler.jpg"
    <p>{{item}}</p>
  </ion-item>
  <ion-infinite-scroll on-infinite="addMoreSoundbites()"></ion-infinite-scroll>
</ion-list> -->
  
  </ion-content>
</ion-view>