<ion-view view-title="Now Playing">
  <ion-content>
  <p>Testing simple template! {{soundbite}}</p>
    <div class="list card">
      <div class="item">
        <h3>{{soundbite.name}}</h3>
        <h2>{{soundbite.datetime}}</h2>
        <p>{{soundbite.filename}}</p>
      </div>
      <div class="item item-body">
        <p>Is this even working?</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>