<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
	    <a class="item item-icon-left" ng-click="login()" ng-show="user.id == null">
	    	<i class="icon ion-social-facebook-outline"></i>
	    	Login with Facebook
	    </a>
	    <a class="item item-icon-left" href="#" ng-show="user.id != null">
	    	<i class="icon ion-social-facebook"></i>
	    	Logged in as: {{fullName}}
	    </a>
	    <a class="item item-icon-left item-icon-right" href="#" ng-show="user.id != null">
	    	<i class="icon ion-android-contacts"></i>
	    	Friends
	    	<i class="icon ion-chevron-right"></i>
	    </a>
	    {{result}}
    </ion-list>
  </ion-content>
</ion-view>
