<ion-view view-title="Soundbite">
  <ion-content>
    <div class="row">
      <div class="col" style="text-align: center;">
        <h1>{{Math.floor(timer/(36000))}}:
        {{Math.floor((timer%(36000))/(600))}}:
        {{(((timer%36000)%600)/10).toFixed(1)}}</h1>
      </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
          <button class="button" 
                  ng-class="buttonState=='record'? 'button-assertive':'button-energized'" 
                  ng-click="getButtonFunction(buttonState)"
                  style="border-radius: 100%; height: 14em; width: 14em; ">
            <i ng-class="buttonState=='record'?'ion-ios-mic':'ion-stop'" style="font-size: 10em;"></i>
          </button>
        </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;" ng-show="mediaLength >= 0">
        <div class="item range">
          <input id="mediaPositionSlider" type="range" name="mediaPosition" min="0" max="{{mediaLength*1000}}" ng-model="mediaPosition.pos">
          {{mediaLength.toFixed(2)}}
        </div>
        <div class="button-bar">
          <a class="button" ng-click="playMedia(Number(mediaPosition.pos))"><i class="ion-play"></i></a>
          <a class="button" ng-click="pauseMedia()"><i class="ion-pause"></i></a>
          <a class="button" ng-click="stopMedia()"><i class="ion-stop"></i></a>
           <a class="button" ng-click="save(soundbiteObj,gpsLocation,fileName,mediaLength)"><i class="ion-ios-download"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;" ng-show="mediaLength >= 0">
        <meta-data-form ng-model="soundbiteObj"/>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;" ng-show="mediaLength >= 0">
      {{soundbiteObj}}
      </div>
    </div>
  </ion-content>
</ion-view>
