<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cs410.tuneline" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tuneline</name>
    <description>
        Tuneline App
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Alex, Ben, Dan, Jon
    </author>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="tuneline:*" />
    <allow-navigation href="*://*.youtube.com/*" />
    <allow-navigation href="*://*.soundcloud.com/*" />
    <access origin="http*://*.youtube.com" />
    <content src="index.html" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <feature name="SocialSharing">
          <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
        </feature>
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="local"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ Icons -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icons/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icons/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icons/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icons/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icons/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icons/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icons/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icons/icon.png" width="57" height="57" />
        <icon src="res/ios/icons/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icons/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icons/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icons/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icons/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icons/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icons/icon-50@2x.png" width="100" height="100" />
        <!-- Splash images are determined by width and height. The following are supported -->
        <splash src="res/ios/splash/Default~iphone.png" width="320" height="480"/>
        <splash src="res/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/ios/splash/Default-667h.png" width="750" height="1334"/>
        <splash src="res/ios/splash/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>

        <preference name="iosPersistentFileLocation" value="Library" />

        <feature name="SocialSharing">
          <param name="ios-package" value="SocialSharing" />
        </feature>
    </platform>
    <platform name="browser">
        <allow-intent href="market:*" />
    </platform>
    <hook src="scripts/appBeforePrepare.js" type="before_prepare" />
    <hook src="scripts/appAfterPrepare.js" type="after_prepare" />
    <icon src="www/img/icon.png" />
</widget>
