<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cs410.tuneline" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tuneline</name>
    <description>
        Tuneline App
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Alex, Ben, Dan, Jon
    </author>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <content src="index.html" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <allow-intent href="market:*" />
    </platform>
    <hook src="scripts/appBeforePrepare.js" type="before_prepare" />
    <hook src="scripts/appAfterPrepare.js" type="after_prepare" />
    <icon src="www/img/icon.png" />
</widget>
