/* Empty. Add your own CSS if you like */

.verticalLine {
    border-left: thick solid #0051ff;
    margin-left: 40px;
}


#tlcircle {
	width: 20px;
	height: 20px;
	background: #0051ff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid black;
}


.item-avatar{
  margin-bottom: 15px;
}

